*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.logo-bar img{
    height: 35px;
}

.logo-bar h3{
    margin-left: 10px;
}

.navbar-custom{
    list-style: none;
    font-size: large;
    display: flex;
    border-bottom:1px solid gray ;
    padding: 10px 0;
}

.navbar-custom li{
    padding-left:10px;
    padding-right:10px;
}

.navbar-custom li a{
    text-decoration: none;
    color: rgb(57, 57, 57);
}